<div mat-dialog-content>
  <h2 class="oldtypo-h2">{{'room-page.moderators' | translate }}</h2>

  <div fxLayout="row">
    <mat-form-field class="input-block">
      <input appAccessibilityEscapedInput
             matInput
             type="email"
             #loginId
             aria-labelledby="moderator-email"
             [formControl]="usernameFormControl"
             name="username"/>
      <mat-placeholder class="placeholder">{{ 'room-page.moderator-email' | translate }}</mat-placeholder>
      <mat-error *ngIf="usernameFormControl.hasError('email')">
        {{ 'room-page.email-error' | translate }}
      </mat-error>
    </mat-form-field>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button
            class="add"
            (click)="addModerator(loginId.value); loginId.value = ''"
            aria-labelledby="add-moderator">
      <mat-icon class="add-icon">add_circle</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
  </div>
  <p class="oldtypo-p"
     *ngIf="moderators.length === 0">{{ 'room-page.no-moderators' | translate }}</p>
  <div *ngIf="moderators.length > 0">
    <div fxLayout="row"
         *ngFor="let moderator of moderators; index as i"
         class="moderators">
      <!--List of moderators-->
      <p class="oldtypo-p">
        {{i + 1}}. {{moderator.loginId}}
      </p>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button
              class="close"
              (click)="openDeleteRoomDialog(moderator)"
              aria-labelledby="delete-moderator">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </div>
</div>

  <app-dialog-action-buttons
    buttonsLabelSection="content"
    [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  ></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="moderator-email">{{'room-page.a11y-moderator-email' | translate}}</div>
  <div id="add-moderator">{{'room-page.a11y-add-moderator' | translate}}</div>
  <div id="delete-moderator">{{'room-page.a11y-delete-moderator' | translate}}</div>
</div>
