<mat-toolbar class="mat-elevation-z2">
  <mat-toolbar-row
    [ngClass]="{'mat-toolbar-moderation': router.url.endsWith('/moderator/comments')}">

    <button id="back-button"
            mat-icon-button
            aria-labelledby="back-label"
            *ngIf="router.url !== '/home'"
            (click)="goBack()">
      <mat-icon class="header-icons">arrow_back_ios_new</mat-icon>
    </button>

    <button id="tour-button"
            mat-button
            aria-labelledby="tour-label"
            class="focus_button"
            *ngIf="router.url.endsWith('/home') && isSafari === 'false'"
            (click)="startTour()">
      <mat-icon class="header-icons">flag</mat-icon>
      <span *ngIf="deviceType === 'desktop'">
        {{ 'header.tour' | translate }}
      </span>
    </button>

    <div class="header-content-container" [ngClass]="{'darken': themeService.currentTheme.isDark}">
      <div *ngIf="toggleUserActivity">
        <div class="userActivityIcon"
             matTooltip="{{'header.users-online' | translate}}"></div>
        <p class="userActivityTxt">{{userActivity}}</p>
      </div>

      <span *ngIf="isInRouteWithRoles && user && user.role !== userRole">
        <mat-icon style="color: red; margin-top: 8px" [matTooltip]="'header.not-in-own-view' | translate">
          groups
        </mat-icon>
      </span>

      <h2 class="oldtypo-h2"
          *ngIf="router.url.endsWith('/moderator/comments') && deviceType === 'desktop'">
        {{'header.moderation-warning'|translate}}
      </h2>

      <span
        *ngIf="moderationEnabled && router.url.includes('comments')"
        class="moderation-enabled"
        fxLayoutAlign="center center">
        <mat-icon style="color: red" matTooltip="{{ 'header.moderation-enabled' | translate }}">
          gavel
        </mat-icon>
      </span>

      <button mat-flat-button
              tabindex="0"
              *ngIf="!router.url.endsWith('moderator/comments') && router.url.endsWith('/comments') &&
                     deviceType === 'desktop'"
              (click)="navigateTopicCloud()">
        <mat-icon style="margin-right: 15px">cloud</mat-icon>
        <span>{{'header.tag-cloud' | translate}}</span>
      </button>

      <h2 class="oldtypo-h2"
          *ngIf="deviceType === 'desktop' && router.url !== '/home'">
        {{cTime}}
      </h2>

      <button mat-flat-button
              tabindex="0"
              *ngIf="deviceType === 'desktop' &&
              !router.url.endsWith('moderator/comments') &&
              router.url.endsWith('/comments') &&
              isSafari === 'false'"
              routerLink="participant/room/{{shortId}}/comments/questionwall">
        <mat-icon class="beamer-icon" svgIcon="beamer"></mat-icon>
        <span>{{'header.questionwall' | translate}}</span>
      </button>

      <!--Feedback im Hörsaal-->
      <h2 class="header-slogan-mobile"
          *ngIf="router.url.includes('home') && deviceType === 'mobile'"
          fxLayoutAlign="center center">
        {{ 'header.home-header-mobile' | translate }}
      </h2>

      <h2 class="header-slogan-desktop"
          *ngIf="router.url.includes('home') && deviceType === 'desktop'"
          fxLayoutAlign="center center">
        {{ 'header.home-header' | translate }}
      </h2>

      <span *ngIf="room && room.questionsBlocked">
        <mat-icon style="color: red; margin-top: 8px" [matTooltip]="'header.questions-blocked' | translate">
          block
        </mat-icon>
      </span>

      <!--Topic Cloud-->
      <div class="topic-cloud-btns"
           *ngIf="router.url.includes('tagcloud')"
           ars-flex-box>
        <ars-col>
          <button mat-icon-button
                  disableRipple="true"
                  *ngIf="isAdminConfigEnabled"
                  class="pseudo-button"
                  matTooltip="{{'header.overview-admin-config-enabled' | translate}}">
            <mat-icon class="oldtypo-h2 comment_tag-icon"
                      style="color: red !important;">warning
            </mat-icon>
          </button>
          <button mat-icon-button
                  disableRipple="true"
                  class="pseudo-button"
                  matTooltip="{{'header.overview-question-tooltip' | translate}}">
            <mat-icon class="oldtypo-h2 comment_tag-icon">comment</mat-icon>
            <span style="margin-left: 0.25em;">{{commentsCountQuestions}}</span>
          </button>
          <button mat-icon-button
                  disableRipple="true"
                  class="pseudo-button"
                  matTooltip="{{'header.overview-questioners-tooltip' | translate}}">
            <mat-icon class="oldtypo-h2 comment_tag-icon">person</mat-icon>
            <span style="margin-left: 0.25em;">{{commentsCountUsers}}</span>
          </button>
          <button mat-icon-button
                  disableRipple="true"
                  class="pseudo-button"
                  matTooltip="{{'header.overview-keywords-tooltip' | translate}}">
            <mat-icon svgIcon="hashtag"
                      class="oldtypo-h2 comment_tag-icon"></mat-icon>
            <span style="margin-left: 0.25em;">{{commentsCountKeywords}}</span>
          </button>
        </ars-col>
      </div>
    </div>

    <mat-menu #userMenu="matMenu"
              [overlapTrigger]="false">
      <!--      <p class="mat-menu-inner-title">Account</p>-->

      <ng-container arsComposeHost></ng-container>

      <div class="mat-menu-inner-box">

        <!-- Room -->
        <ng-container *ngIf="router.url.includes('/room/')">

          <!-- Room General Options - top -->

          <!-- Moderator board / index -->

          <ng-container
            *ngIf="userRole > 0 && (router.url.endsWith('/moderator/comments') || router.url.includes('/comment/'))">

            <button mat-menu-item
                    tabindex="0"
                    *ngIf="userRole == 3"
                    routerLink="creator/room/{{shortId}}/comments">
              <mat-icon>
                forum
              </mat-icon>
              <span>{{'header.back-to-questionboard' | translate}}</span>
            </button>

            <button mat-menu-item
                    tabindex="0"
                    *ngIf="userRole > 0 && userRole < 3"
                    routerLink="moderator/room/{{shortId}}/comments">
              <mat-icon>
                forum
              </mat-icon>
              <span>{{'header.back-to-questionboard' | translate}}</span>
            </button>

          </ng-container>

          <ng-container *ngIf="userRole == 0 && router.url.includes('/comment/')">

            <button mat-menu-item
                    tabindex="0"
                    routerLink="participant/room/{{shortId}}/comments">
              <mat-icon>
                forum
              </mat-icon>
              <span>{{'header.back-to-questionboard' | translate}}</span>
            </button>

          </ng-container>

          <!-- Question board -->
          <ng-container *ngIf="router.url.endsWith('/comments')">

            <button mat-menu-item
                    *ngIf="userRole > 0 && !router.url.includes('/comment/') && !router.url.endsWith('/tagcloud') &&
                           !router.url.endsWith('moderator/comments')"
                    tabindex="0"
                    (click)="showQRDialog();">
              <mat-icon svgIcon="qrcode"
                        class="header-icons qrcode">
              </mat-icon>
              <span>{{'header.room-qr' | translate}}</span>
            </button>

            <button mat-menu-item
                    tabindex="0"
                    *ngIf="userRole > 0 && !router.url.includes('/participant/') &&
                           !router.url.endsWith('moderator/comments')"
                    [routerLink]="(userRole === 3 ? 'creator' : 'moderator') + '/room/' + shortId + '/moderator/comments'">
              <mat-icon>visibility_off</mat-icon>
              <span>{{'header.moderationboard' | translate}}</span>
            </button>

            <button mat-menu-item
                    tabindex="0"
                    *ngIf="!router.url.endsWith('moderator/comments') && deviceType === 'mobile'"
                    (click)="navigateTopicCloud()">
              <mat-icon>cloud</mat-icon>
              <span>{{'header.tag-cloud' | translate}}</span>
            </button>

            <button mat-menu-item
                    tabindex="0"
                    *ngIf="!router.url.endsWith('moderator/comments')"
                    routerLink="quiz">
              <mat-icon class="material-icons-outlined">timer</mat-icon>
              <span>{{'header.quiz-now' | translate}}</span>
            </button>

          </ng-container>

          <!-- Session -->
          <ng-container
            *ngIf="!router.url.endsWith('/comments') && !router.url.includes('/comment/') && !router.url.endsWith('tagcloud')">

            <!-- app-room-creator-page -->


          </ng-container>

          <!-- Room General Options - bot -->

          <ng-container
            *ngIf="userRole == 3 && !router.url.includes('/participant') && !router.url.endsWith('/comments') &&
                   !router.url.includes('/comment/') && !router.url.endsWith('tagcloud')">


          </ng-container>

          <button mat-menu-item
                  *ngIf="router.url.endsWith('/comments') && !router.url.includes('/comment/') && !router.url.endsWith('tagcloud')"
                  (click)="navigateExportQuestions()"
                  tabindex="0">
            <mat-icon>file_download</mat-icon>
            <span>{{'header.export-questions' | translate}}</span>
          </button>

        </ng-container>

      </div>

      <!-- General Options -->

      <button mat-menu-item
              *ngIf="isInRouteWithRoles && user && user.role > 0"
              (click)="navigateToOtherView()"
              tabindex="0">
        <mat-icon>groups</mat-icon>
        <span *ngIf="userRole === user.role">{{'header.regular-user-view' | translate}}</span>
        <span *ngIf="userRole !== user.role">{{'header.own-view' | translate}}</span>
      </button>

      <button mat-menu-item
              *ngIf="userRole == 0 && !router.url.endsWith('/tagcloud') && !router.url.endsWith('/quiz')"
              (click)="openUserBonusTokenDialog()"
              tabindex="0">
        <mat-icon class="star">grade</mat-icon>
        <span>{{'header.user-bonus-token' | translate}}</span>
      </button>


      <ng-container *ngIf="router.url.endsWith('/comments') || router.url.endsWith('/tagcloud')">

        <button mat-menu-item
                *ngIf="userRole == 0"
                tabindex="0"
                routerLink="participant/room/{{shortId}}">
          <mat-icon>
            flag
          </mat-icon>
          <span>{{'header.back-to-room' | translate}}</span>
        </button>

        <button mat-menu-item
                *ngIf="userRole == 3"
                tabindex="0"
                routerLink="creator/room/{{shortId}}">
          <mat-icon>
            room_preferences
          </mat-icon>
          <span>{{'header.back-to-room-creator' | translate}}</span>
        </button>

        <button mat-menu-item
                *ngIf="userRole == 2"
                tabindex="0"
                routerLink="moderator/room/{{shortId}}">
          <mat-icon>
            room_preferences
          </mat-icon>
          <span>{{'header.back-to-room-moderator' | translate}}</span>
        </button>

      </ng-container>

      <button mat-menu-item
              *ngIf="user && router.url.endsWith('/quiz')"
              tabindex="0"
              (click)="navigateQuestionBoard()">
        <mat-icon class="header-icons">forum</mat-icon>
        <span>{{'header.back-to-questionboard' | translate}}</span>
      </button>

      <button mat-menu-item
              *ngIf="user && !router.url.endsWith('/user')"
              routerLink="/user"
              tabindex="0">
        <mat-icon
                  class="sessions">door_sliding</mat-icon>
        <span *ngIf="!user.isGuest">{{'header.my-sessions' | translate}}</span>
        <span *ngIf="user.isGuest"
              svgIcon="meeting_room">{{'header.visited-sessions' | translate}}</span>
      </button>

      <button mat-menu-item
              aria-hidden="true"
              *ngIf="isSafari === 'false'  && !router.url.includes('home')  && !router.url.endsWith('/quiz')"
              (click)="getRescale().toggleState();">
        <mat-icon class="fullscreen"
                  (click)="getRescale().toggleState();">format_size
        </mat-icon>
        <span>{{'header.fullscreen' | translate}}</span>
      </button>

      <button mat-menu-item
              *ngIf="user"
              (click)="showMotdDialog()">
        <mat-icon class="faq">
          {{ motdState ? 'notifications_active' : 'notifications_none' }}
        </mat-icon>
        <span>{{'header.motd' | translate}}</span>
      </button>


      <button mat-menu-item
              *ngIf="user && !user.isGuest && user.loginId && router.url.endsWith('/user')"
              (click)="openDeleteUserDialog()"
              tabindex="0">
        <mat-icon class="color-warn">delete_forever</mat-icon>
        <span>{{'header.delete-account' | translate}}</span>
      </button>

      <button mat-menu-item
              (click)="logout()"
              tabindex="0">
        <mat-icon class="color-warn">logout</mat-icon>
        <span>{{ 'header.logout' | translate }}</span>
      </button>

    </mat-menu>

    <button [disabled]="cookiesDisabled()"
            mat-button
            [joyrideStep]="'optionHeader'"
            [stepPosition]="'center'"
            appJoyrideTemplate
            *ngIf="user && deviceType === 'desktop'"
            [matMenuTriggerFor]="userMenu"
            aria-labelledby="session-label"
            id="session-button">
      <div class="label-icon">
        <mat-icon *ngIf="!user.isGuest"
                  class="header-icons">more_vert
        </mat-icon>
        <mat-icon *ngIf="user.isGuest"
                  svgIcon="meeting_room"
                  class="header-icons"></mat-icon>
        <h2 class="oldtypo-h2"
            *ngIf="!user.isGuest">{{'header.my-account' | translate}}</h2>
        <!--Guest Account-->
        <h2 class="oldtypo-h2"
            *ngIf="user.isGuest">{{'header.my-guest-account' | translate}}</h2>
      </div>
    </button>

    <button [disabled]="cookiesDisabled()"
            mat-icon-button
            [joyrideStep]="'optionHeader'"
            [stepPosition]="'center'"
            appJoyrideTemplate
            *ngIf="user && deviceType === 'mobile'"
            [matMenuTriggerFor]="userMenu"
            aria-labelledby="session-label">
      <mat-icon *ngIf="!user.isGuest"
                class="header-icons">more_vert
      </mat-icon>
      <mat-icon *ngIf="user.isGuest"
                svgIcon="meeting_room"
                class="header-icons"></mat-icon>
    </button>

    <button id="login-button"
            [disabled]="cookiesDisabled()"
            mat-button
            [joyrideStep]="'loginButtonHeader'"
            [stepPosition]="'center'"
            appJoyrideTemplate
            *ngIf="!user && deviceType === 'desktop'"
            (click)=login(false)
            aria-labelledby="login-label">
      <div class="label-icon">
        <mat-icon class="header-icons">person</mat-icon>
        <h2 class="oldtypo-h2"
            *ngIf="deviceType === 'desktop'">{{'header.login' | translate}}</h2>
      </div>
    </button>

    <button [disabled]="cookiesDisabled()"
            mat-icon-button
            [joyrideStep]="'loginButtonHeader'"
            [stepPosition]="'center'"
            appJoyrideTemplate
            *ngIf="!user && deviceType === 'mobile'"
            (click)=login(false)
            aria-labelledby="login-label">
      <mat-icon class="header-icons">person</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="visually-hidden">
  <div id="login-label">{{'header.accessibility-login' | translate}}</div>
  <div id="back-label">{{'header.accessibility-back' | translate}}</div>
  <div id="tour-label">{{'header.accessibility-tour' | translate}}</div>
  <div id="session-label">{{'header.accessibility-session' | translate}}</div>
</div>
