.app-title {
  cursor: pointer;
  margin: 0 auto;
  color: var(--on-surface);
}

mat-toolbar {
  background-color: transparent;
  box-shadow: none;
  position: relative;
}

.mat-toolbar-moderation {
  background-color: var(--moderator);
  position: relative;
}

mat-toolbar-row {
  padding: 0 5px;
}

.header-icons {
  color: var(--on-surface);
}

::ng-deep .qrcode svg > path {
  fill: var(--on-surface);
  color: var(--on-surface);
}

.moderation-enabled {
  color: var(--on-surface);
  margin-left: 5px;
  font-size: medium;
  font-weight: bold;
}

.header-content-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;

  > button {
    background-color: var(--primary-variant);
    border-radius: 5px;

    &:hover {
      color: var(--on-secondary) !important;
      background-color: var(--secondary) !important;

      mat-icon {
        color: var(--on-secondary) !important;
        background-color: var(--secondary) !important;
      }
    }
  }

  &.darken > button {
    background-color: var(--dialog);
    color: var(--on-dialog)
  }
}

.topic-cloud-btns {
  > ars-col button {
    margin-right: 0.75em;
    cursor: default;
    width: auto;

    &:hover, &:focus {
      border: none;
      cursor: default;
    }
  }

  > * {
    overflow: hidden !important;
    color: var(--on-surface);
  }
}

.comment_tag-icon {
  height: 18px !important;
}

.sessions {
  color: var(--primary) !important;
  transform: scale(1.5);
}

h2 {
  margin-right: 10px;
  font-size: medium !important;
}

.header-slogan-desktop {
  margin-right: 10px;
  margin-left: 130px;
  font-size: medium !important;
  color: var(--on-background);
}

.header-slogan-mobile {
  margin-left: 30px;
  font-size: medium !important;
  color: var(--on-background);
}

.label-icon {
  display: flex;
  align-items: center;
}

.mat-button {
  padding: 0 0 0 10px;
}

button:focus {
  border: 1px solid var(--on-surface);
}

svg {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

.question-focus-btn {
  background-color: var(--surface);
  color: var(--primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  * {
    color: var(--primary);
  }
}

.question-focus-btn-txt {
  padding-left: 10px;
}

.color-warn {
  color: red !important;
}

.beamer-icon {
  transform: scale(1.4);
  margin-right: 15px;
}

.mat-menu-inner-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
  color: var(--on-background);
}

.mat-menu-inner-box {
  background-color: var(--primary-variant);
  border-radius: 5px;

  * {
    background-color: transparent !important;
  }

  *:hover {
    color: var(--on-secondary) !important;
    background-color: var(--secondary) !important;

    mat-icon {
      color: var(--on-secondary) !important;
      background-color: var(--secondary) !important;
    }
  }

}

h1 {
  color: red;
}

::ng-deep .mat-menu-item:hover .qrcode svg > path {
  fill: var(--dialog) !important;
  color: var(--dialog) !important;
  background-color: var(--on-dialog) !important;
}

::ng-deep #cdk-overlay-0 .mat-menu-content > button:hover mat-icon {
  color: white !important;
  background-color: gray !important;
}

.userActivityIcon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: -5px;
  background-color: var(--primary);
  -webkit-mask-image: url("../../../../assets/icons/activity.svg");
  mask-image: url("../../../../assets/icons/activity.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
}

.userActivityTxt {
  display: inline-block;
  color: var(--primary);
  margin-left: 5px;
  font-size: 14px;
}

.focus_button {
  min-height: 28px;
  font-size: 16px;
  padding: unset;
  color: var(--on-surface);

  &:focus {
    background: var(--on-surface);
    color: var(--background);

    mat-icon {
      color: var(--background);
    }
  }
}
