<h2 *ngIf="!bonusQuestions">{{ 'room-page.sure' | translate }}</h2>
<h2 *ngIf="bonusQuestions">{{ 'room-page.delete-comments-alt-header' | translate }}</h2>
<p *ngIf="!bonusQuestions">{{ 'room-page.really-delete-comments' | translate }}</p>
<p *ngIf="bonusQuestions">{{ 'room-page.really-delete-comments-hint' | translate }}</p>
<app-dialog-action-buttons *ngIf="!bonusQuestions"
  buttonsLabelSection="content"
  confirmButtonLabel="delete"
  [confirmButtonType]=confirmButtonType
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildCommentsDeleteActionCallback()"
></app-dialog-action-buttons>
<app-dialog-action-buttons *ngIf="bonusQuestions"
  buttonsLabelSection="content"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
></app-dialog-action-buttons>
