mat-radio-button {
  margin: 5px;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-radio-label-content {
  width: 100%;
}

.elementRow {
  display: flex;
  flex-direction: row;
  width: 100% !important;
}

.elementText {
  align-content: flex-start;
  margin-right: 10px;
}

.elementIcons {
  margin-left: auto;
}

.comment_tag-icon {
  height: 18px !important;
}

.mat-dialog-content {
  padding: 0px 15px;
  margin: 0;
}

.noKeywords {
  background: var(--surface);
  color: var(--on-surface);
  margin-top: 20px;
}

.secondary-confirm-button {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.brainstorm-container {
  background-color: var(--surface);
  margin-top: 10px;

  > mat-form-field {
    width: 100%;
  }
}

.help-button {
  background-color: var(--secondary);
  color: var(--on-secondary);
  margin-top: 1rem;

  .mat-icon {
    font-size: 18px;
    margin-top: 3px;
  }
}

.action-button-container {
  @media screen and (max-width: 500px) {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}
