<mat-dialog-content>

  <h3>{{'content.tag-cloud-questions-title' | translate}}</h3>

  <span *ngIf="isTopicRequirementActive">
    <mat-icon [inline]="true"
              style="color: var(--red) !important;">warning</mat-icon>
    {{'header.overview-admin-config-enabled' | translate}}
  </span>

  <mat-radio-group [(ngModel)]="continueFilter"
                   aria-label="Select an option">
    <mat-radio-button checked="true"
                      value="continueWithAll">
      <div class="elementRow">
        <div class="elementText"
             *ngIf="isMobile()">{{'content.tag-cloud-questions-all-short' | translate}}</div>
        <div class="elementText"
             *ngIf="!isMobile()">{{'content.tag-cloud-questions-all' | translate}}</div>
        <div class="elementIcons"
             *ngIf="allComments">
          <mat-icon [inline]="true"
                    matTooltip="{{'header.overview-question-tooltip' | translate}}">comment
          </mat-icon>
          {{allComments.comments}}
          <mat-icon [inline]="true"
                    matTooltip="{{'header.overview-questioners-tooltip' | translate}}">person
          </mat-icon>
          {{allComments.users}}
          <mat-icon svgIcon="hashtag"
                    class="comment_tag-icon"
                    matTooltip="{{'header.overview-keywords-tooltip' | translate}}"></mat-icon>
          {{allComments.keywords}}
        </div>
      </div>
    </mat-radio-button>
    <mat-radio-button value="continueWithCurr"
                      *ngIf="!disableCurrentFiltersOptions">
      <div class="elementRow">
        <div class="elementText">{{'content.tag-cloud-questions-current-filtered' | translate}}</div>
        <div class="elementIcons"
             *ngIf="filteredComments">
          <mat-icon [inline]="true"
                    matTooltip="{{'header.overview-question-tooltip' | translate}}">comment
          </mat-icon>
          {{filteredComments.comments}}
          <mat-icon [inline]="true"
                    matTooltip="{{'header.overview-questioners-tooltip' | translate}}">person
          </mat-icon>
          {{filteredComments.users}}
          <mat-icon svgIcon="hashtag"
                    class="comment_tag-icon"
                    matTooltip="{{'header.overview-keywords-tooltip' | translate}}"></mat-icon>
          {{filteredComments.keywords}}
        </div>
      </div>
    </mat-radio-button>
    <mat-radio-button #radioButton
                      value="continueWithAllFromNow">
      <span *ngIf="isMobile()">{{'content.tag-cloud-questions-brainstorming-short' | translate}}</span>
      <span *ngIf="!isMobile()">{{'content.tag-cloud-questions-brainstorming' | translate}}</span>
    </mat-radio-button>
    <mat-card class="brainstorm-container" *ngIf="userRole > 0 && radioButton.checked">
      <mat-form-field appearance="fill">
        <mat-label>{{'content.brainstorming-question' | translate}}</mat-label>
        <input matInput
               autofocus
               autocomplete="off"
               type="text"
               appAccessibilityEscapedInput
               (keyup)="checkForEnter($event)"
               [(ngModel)]="question">
        <button *ngIf="question"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="question=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{'content.brainstorming-word-count' | translate}}</mat-label>
        <input matInput
               autocomplete="off"
               type="number"
               appAccessibilityEscapedInput
               [min]="maxWordCountMin"
               [max]="maxWordCountMax"
               [formControl]="maxWordCount">
        <mat-hint>
          {{'content.field-hint-number' | translate: { min: maxWordCountMin, max: maxWordCountMax } }}
        </mat-hint>
        <mat-error *ngIf="maxWordCount.hasError('required')">
          {{'content.field-required' | translate}}
        </mat-error>
        <mat-error *ngIf="maxWordCount.hasError('min')">
          {{'content.field-too-low' | translate: { min: maxWordCountMin } }}
        </mat-error>
        <mat-error *ngIf="maxWordCount.hasError('max')">
          {{'content.field-too-high' | translate: { max: maxWordCountMax } }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{'content.brainstorming-word-length' | translate}}</mat-label>
        <input matInput
               autocomplete="off"
               type="number"
               appAccessibilityEscapedInput
               [min]="maxWordLengthMin"
               [max]="maxWordLengthMax"
               [formControl]="maxWordLength">
        <mat-hint>
          {{'content.field-hint-number' | translate: { min: maxWordLengthMin, max: maxWordLengthMax } }}
        </mat-hint>
        <mat-error *ngIf="maxWordLength.hasError('required')">
          {{'content.field-required' | translate}}
        </mat-error>
        <mat-error *ngIf="maxWordLength.hasError('min')">
          {{'content.field-too-low' | translate: { min: maxWordLengthMin } }}
        </mat-error>
        <mat-error *ngIf="maxWordLength.hasError('max')">
          {{'content.field-too-high' | translate: { max: maxWordLengthMax } }}
        </mat-error>
      </mat-form-field>
    </mat-card>
  </mat-radio-group>

  <mat-card *ngIf="hasNoKeywords"
            class="noKeywords">
    <p>{{'topic-cloud-filter.info-no-keywords' | translate}}</p>
    <button mat-flat-button
            type="button"
            class="mat-flat-button secondary-confirm-button"
            (click)="onKeywordRefreshClick()">
      {{'topic-cloud-filter.label-refresh-keywords-start' | translate}}
    </button>
  </mat-card>

  <app-worker-dialog [inlined]="true"></app-worker-dialog>

  <ars-row ars-flex-box class="action-button-container">
    <ars-col>
      <button
        mat-flat-button
        class="help-button"
        (click)="openHelp()">
        <mat-icon>help</mat-icon>
        {{ 'explanation.label' | translate}}

      </button>
    </ars-col>
    <ars-col>
      <app-dialog-action-buttons
        buttonsLabelSection="content"
        confirmButtonLabel="tag-cloud-create"
        buttonIcon="cloud"
        [spacing]="false"
        [cancelButtonClickAction]="cancelButtonActionCallback()"
        [confirmButtonClickAction]="confirmButtonActionCallback()">
      </app-dialog-action-buttons>
    </ars-col>
  </ars-row>

</mat-dialog-content>
