<button mat-menu-item
        tabindex="0"
        (click)="action($event)"
        *ngIf="data.condition()">
  <ng-container *ngIf="data.isSVGIcon">
    <mat-icon svgIcon="{{data.icon}}">
    </mat-icon>
  </ng-container>
  <ng-container *ngIf="!data.isSVGIcon">
    <mat-icon [ngStyle]="{'color':data.iconColor}">
      {{data.icon}}
    </mat-icon>
  </ng-container>
  <span>{{data.text | translate}}</span>
</button>
