::ng-deep {
  mat-radio-button {
    width: 100%;
  }

  .mat-radio-label {
    width: calc(100% - 16px) !important;
  }

  .mat-radio-label-content {
    width: 100%;
  }
}

.action-button-container {
  @media screen and (max-width: 500px) {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.help-button {
  background-color: var(--secondary);
  color: var(--on-secondary);
  margin-top: 1rem;

  .mat-icon {
    font-size: 18px;
    margin-top: 3px;
  }
}
