<div mat-dialog-content xmlns="http://www.w3.org/1999/html">
  <h2 class="oldtypo-h2">{{'room-page.bonus-token-header' | translate }}</h2>
  <h3 class="oldtypo-h3">&raquo;{{room.name}}&laquo;</h3>
  <h3 class="oldtypo-h3">{{ 'room-page.session-id' | translate}}: {{ room.shortId }}</h3>
  <div *ngIf="bonusTokens.length >= 1">
    <div class="validator">
      <mat-form-field>
        <input appAccessibilityEscapedInput
               (keyup)="inputChanged($event)"
               (input)="inputChanged($event)"
               matInput
               class="input-block"
               type="text"
               maxlength="14"
               name="roomName"
               aria-labelledby="room-name-input"/>
        <mat-placeholder class="placeholder">{{ 'room-page.hint' | translate }}</mat-placeholder>
        <mat-hint align="end"
                  class="count"><span aria-hidden="true">{{ value.length }} / 8</span></mat-hint>
      </mat-form-field>
      <button *ngIf="!valid" (click)="navToCommentByValue()"
              matTooltip="{{ 'room-page.nav-to-comment' | translate }}"
              mat-stroked-button disabled>
        Go to Question
      </button>
      <button *ngIf="valid" (click)="navToCommentByValue()"
              matTooltip="{{ 'room-page.nav-to-comment' | translate }}"
              mat-stroked-button class="enabled">
        Go to Question
      </button>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let bonusToken of bonusTokens; let index = index"
                     [appScrollIntoView]="valueEqual(bonusToken.token)">
        <p [ngClass]="{'selected': valueEqual(bonusToken.token)}" tabindex="0">
          {{ bonusToken.token }}
        </p>
        <p>
          {{ bonusToken.timestamp | date: lang === 'de' ? 'dd.MM.yy' : ' M/d/yy'}}
        </p>
        <button [ngClass]="'navComment'" mat-icon-button (click)="navToComment(bonusToken.commentId)">
          <mat-icon matTooltip="{{ 'room-page.nav-to-comment' | translate }}">comment</mat-icon>
        </button>
        <button [ngClass]="'delComment'" mat-icon-button (click)="openDeleteSingleBonusDialog(bonusToken.userId, bonusToken.commentId, index)">
          <mat-icon matTooltip="{{ 'room-page.delete-token' | translate }}" class="delete-icon">close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  <div *ngIf="bonusTokens.length === 0">
    <p>{{'room-page.no-bonus' | translate }}
    </p>
  </div>
  <div fxLayoutAlign="center center" *ngIf="bonusTokens.length > 1">
    <button mat-button class="delete" (click)="openDeleteAllBonusDialog()">
      <mat-icon>delete_forever</mat-icon>
      {{'room-page.delete-all-tokens' | translate}}
    </button>
  </div>
</div>

<ars-row ars-flex-box class="action-button-container">
  <ars-col>
    <button
      mat-flat-button
      class="help-button"
      (click)="openHelp()">
      <mat-icon>help</mat-icon>
      {{ 'explanation.label' | translate}}
    </button>
  </ars-col>
  <ars-col>
    <app-dialog-action-buttons
      buttonsLabelSection="content"
      [spacing]="false"
      [cancelButtonClickAction]="buildDeclineActionCallback()">
    </app-dialog-action-buttons>
  </ars-col>
</ars-row>
