p {
  color: var(--on-surface);
  margin-right: 30px;
}

.delete-icon {
  color: var(--red);
}

.delete {
  margin: 20px 0 20px 0;
  min-width: 220px;
  background-color: var(--red);
  color: var(--white);
}

.tokens {
  padding-left: 3%;
  &:nth-child(even) {
    background-color: var(--alt-dialog);
  }
}

.mat-stroked-button {
  width: 130px;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.navComment {
  color: var(--secondary);
  display: flex;
  justify-content:right;
  align-items: center;
}

.delComment {
  display: flex;
  justify-content:right;
  align-items: center;
}

.mat-list .p {
  display: flex;
  justify-content:center;
  align-items: center;
} 

.selected {
  color: var(--red);
}

.enabled {
  color: var(--primary);
  border-color: var(--primary);
}

.validator {
  overflow: hidden;
}

.validator .mat-stroked-button {
  float: right;
  margin-left: -40%;
}

.action-button-container {
  @media screen and (max-width: 500px) {
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}

.help-button {
  background-color: var(--secondary);
  color: var(--on-secondary);
  margin-top: 1rem;

  .mat-icon {
    font-size: 18px;
    margin-top: 3px;
  }
}
