<h3>{{ 'room-page.sure' | translate }}</h3>
<p>{{ 'comment-list.really-delete' | translate }}</p>
<app-dialog-action-buttons
  buttonsLabelSection="content"
  confirmButtonLabel="delete"
  [confirmButtonType]=confirmButtonType
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildCommentDeleteActionCallback()"
></app-dialog-action-buttons>
