<app-mat-spinner-overlay *ngIf="isLoading" overlay="true"></app-mat-spinner-overlay>
<div class="container">
  <iframe class="responsive-iframe" [src]="urlSafe"
          (load)="isLoading = false"
          (error)="isLoading = false">
  </iframe>
</div>
