iframe {
  border-width: 0px;
}

.container {
  width: auto;
  height: auto;
}

.responsive-iframe {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
