@import '../../../../styles';

mat-card {
  width: 100%;
  max-width: 800px;
  min-height: 350px;
  padding: 0 10% 5% 10%;
  background-color: var(--surface) !important;
}

mat-card-content > :first-child {
  margin: 3% 0 3% 0;
}

.mat-icon-button {
  width: 100%;
  height: 75%;
  margin-bottom: 3%;
  border-radius: 0;
  color: var(--primary) !important;
}

.main-icon {
  font-size: 80px;
  height: 80px;
  width: 80px;
  line-height: 100% !important;
}

.desktop {
  font-size: 70px;
  height: 70px;
  width: 70px;
}

button {
  width: 30%;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2)
  }
}


h3 {
  margin: 5% 0 5% 0;
  color: var(--on-surface) !important;
}

mat-card-header {
  min-height: 80px !important;
  height: 12% !important;
}

mat-card-title {
  height: 40%;
  min-width: 200px;
  color: var(--on-surface) !important;
}

mat-card-subtitle {
  height: 20%;
  color: var(-on--surface) !important;
}

mat-expansion-panel {
  background-color: var(--surface) !important;
  min-width: 200px;
  hyphens: auto;
}

mat-grid-list {
  margin: 0;
}

mat-grid-tile {
  height: 70% !important;
  padding: 10% 0 !important;
}

#settings {
  width: 10%;
  max-width: 40px;
}

#settings-icon {
  font-size: 35px;
  height: 35px;
  width: 35px;
}

.gavel {
  margin: 0.9em 0.25em 0 0;
  color: var(--red);
  transform: scale(1.8);
}

.room-short-id {
  font-size: larger;
  font-weight: bold;
  color: var(--on-surface) !important;
  margin: 1em;
}

::ng-deep .mat-badge-content {
  background: var(--secondary);
  color: var(--on-secondary);
}

markdown {
  color: var(--on-surface);
  margin: 0 3% 0 3% !important;
}
