<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px" fxFill>
  <div fxLayout="row" fxLayoutAlign="center">
    <app-mat-spinner-overlay *ngIf="isLoading" overlay="true"></app-mat-spinner-overlay>
    <mat-card *ngIf="room">
      <div fxLayout="row">
        <span class="fill-remaining-space"></span>
        <mat-card-header fxLayoutAlign="center">
          <mat-card-title fxLayoutAlign="center">
            <h2 class="oldtypo-h2">&raquo;{{room.name}}&laquo;</h2>
          </mat-card-title>
          <mat-card-subtitle fxLayoutAlign="center">
            <mat-icon *ngIf="moderationEnabled" class="gavel" matTooltip="{{ 'room-page.moderation-enabled' | translate }}">
              gavel
            </mat-icon>
            <h3 class="room-short-id">
              {{ 'room-page.session-id' | translate}}: {{ room.shortId }}
            </h3>
          </mat-card-subtitle>
        </mat-card-header>
        <span class="fill-remaining-space"></span>
      </div>

      <mat-card-content *ngIf="room.description" fxLayoutAlign="center">
        <app-view-comment-data class="images" [currentData]="room.description"></app-view-comment-data>
      </mat-card-content>
      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>
          <button id="question_answer-button" mat-icon-button [disableRipple]="true"
                  routerLink="/participant/room/{{ room.shortId }}/comments" aria-labelledby="question_answer">
            <mat-icon matBadge="{{commentCounter > 0 ? commentCounter : null}}" class="main-icon"
                      [ngClass]="{'desktop' : deviceType === 'desktop'}">question_answer
            </mat-icon>
            <h3>{{ 'room-page.create-comment' | translate}}</h3>
          </button>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card>

  </div>
  <button id="live_announcer-button" tabIndex="-1" (click)="announce()" class="visually-hidden">{{ 'room-page.live-announcer' | translate }}</button>
</div>

<!--Hidden Div's for a11y-Descriptions-->
<div class="visually-hidden">
  <div id="question_answer">{{'room-page.a11y-question_answer' | translate}}</div>
  <!--<div id="announcer_text">{{'room-page.a11y-announcer' | translate}}</div>-->
</div>
