<p>
  »frag.jetzt« wurde vom Land Hessen gefördert.
</p>

<a href="https://www.digll-hessen.de/de"
   class="info"
   target="_blank">
  <img src="/assets/images/HMWK.webp"
       alt="HMWK-Logo"
       width="150"
       height="64">
  <span>Öffnet neues Fenster</span>
</a>

<h2>
  Erklärung zur Zugänglichkeit
</h2>

<p>
  »frag.jetzt« setzt sich für die digitale Zugänglichkeit von Menschen mit Handicaps ein.
  Wir verbessern kontinuierlich die Benutzerfreundlichkeit für alle und wenden die relevanten
  Barrierefreiheitsstandards an.
  Wir adressieren insbesondere sehbeeinträchtigte und blinde Nutzer von »frag.jetzt«.
</p>

<h2>
  Konformitätsstatus
</h2>

<p>
  Die
  <a href="https://www.w3.org/WAI/standards-guidelines/wcag/"
     class="info">Web Content Accessibility Guide&shy;lines<span>Öffnet neues Fenster</span></a> (WCAG)
  definieren Anforderungen an Designer und Entwickler, um den Zugang für Menschen mit Behinderungen zu verbessern.
  Es werden drei Stufen der Konformität unterschieden: Level A, Level AA und Level AAA. »frag.jetzt« ist teilweise konform mit
  WCAG 2.1 Level AA. Teilkonform bedeutet, dass einige Teile des Inhalts nicht vollständig dem Standard für
  Barrierefreiheit entsprechen.
</p>

<h2>Feedback</h2>

<p>
  Wir freuen uns über dein Feedback zur Barrierefreiheit von »frag.jetzt«.
  Bitte lass uns wissen, wenn du auf Barrieren stößt:
</p>

<p>
  <a class="info"
     href="tel:+496413092450">+49 641 309-2450 <span>Ruft die Nummer an</span></a>
  <br>
  <a class="email u-email info"
     href="mailto:klaus.quibeldey-cirkel@transmit.de">
    klaus.quibeldey-cirkel@transmit.de <span>Öffnet das Mail-Programm</span>
  </a>
</p>

<h2>Betreiber von »frag.jetzt«</h2>

<p>
  Der Betrieb der
  <a href="https://github.com/thm-projects/frag.jetzt"
     target="_blank"
     class="info">Open-Source<span>Öffnet neues Fenster</span></a>-Webanwendung
  »frag.jetzt« ist eine kostenlose Dienstleistung
  (»Soft&shy;ware as a Service«) der TransMIT-Gesellschaft für
  Technologietransfer mbH, Projektbereich für mobile An&shy;wen&shy;dun&shy;gen.<br>
  <br>
  Kerkrader Straße 3<br>
  D-35394 Gießen<br>
  <br>
  c/o THM<br>
  Fachbereich Mathematik, Naturwissenschaften und Informatik<br>
  Prof. Dr. Klaus Quibeldey-Cirkel<br>
  Lehrstuhl für Softwaretechnik<br>
  <br>
  Wiesenstraße 14<br>
  D-35390 Gießen<br>
  <br>
  <a href="tel:+496413092450"
     class="info">+49 641 309-2450 <span>Ruft die Nummer an</span></a>
  <br>
  <a href="mailto:klaus.quibeldey-cirkel@transmit.de"
     class="info">klaus.quibeldey-cirkel@transmit.de<span>Öffnet das Mail-Programm</span></a>
  <br>
  <br>
  Sitz der Gesellschaft: Gießen<br>
  Website:
  <a href="https://transmit.de"
     class="info">transmit.de<span>Öffnet neues Fenster</span></a>
  <br>
  Rechtsform: GmbH<br>
  Amtsgericht: Gießen HRB 3036<br>
  USt-IdNr.: DE 188 685 037<br>
  <br>
</p>
