<h2 class="oldtypo-h2">{{ 'session.edit-session-name' | translate }}</h2>
<div mat-dialog-content
     *ngIf="editRoom">
  <mat-form-field class="input-block">
    <input appAccessibilityEscapedInput
           matInput
           [formControl]="roomNameFormControl"
           name="room-name"
           maxlength="20"
           aria-labelledby="room-name"/>
    <mat-placeholder class="placeholder">{{ 'session.session-name' | translate }}</mat-placeholder>
    <mat-hint align="end"><span aria-hidden="true">{{ roomNameFormControl.value.length }} / 20</span></mat-hint>
    <mat-error *ngIf="roomNameFormControl.hasError('required')
          || roomNameFormControl.hasError('minlength')
          || roomNameFormControl.hasError('maxlength')">
      {{ 'room-page.name-length-error' | translate }}
    </mat-error>
  </mat-form-field>
</div>
<app-dialog-action-buttons
  [buttonsLabelSection]="'room-page'"
  [confirmButtonLabel]="'update'"
  [showDivider]="false"
  [spacing]="false"
  [cancelButtonClickAction]="buildCloseDialogActionCallback()"
  [confirmButtonClickAction]="buildConfirmDialogActionCallback()"
></app-dialog-action-buttons>

<div class="visually-hidden">
  <div id="room-name">{{ 'room-page.a11y-room-name' | translate }}</div>
</div>
