@import '../../../../styles';

mat-card {
  width: 100%;
  max-width: 800px;
  min-height: 350px;
  padding: 0 10% 5% 10%;
  background-color: var(--surface) !important;
}

mat-card-content > :first-child {
  margin: 3% 0 3% 0;
}

#room-edit-description {
  margin-bottom: 0;
}

.mat-icon-button {
  width: 60%; // 100%
  height: 75%;
  color: var(--primary) !important;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.2)
  }
}

.desktop {
  font-size: 65px;
  height: 65px;
  width: 65px;
  margin-bottom: 5%;
}

.corner-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  line-height: 100%;
}

/*.main-icon{
  font-size: 60px;
  height: 60px;
  width: 60px;
  line-height: 100%!important;
}*/

.main-icon {
  font-size: 80px;
  height: 80px;
  width: 80px;
  line-height: 100% !important;
}

.smallerIcon {
  font-size: 55px;
  height: 55px;
  width: 55px;
  line-height: 100% !important;
}

.room-short-id {
  font-size: larger;
  font-weight: bold;
  color: var(--on-surface) !important;
  margin: 1em;
}

mat-grid-list {
  margin: 0;
}

.second {
  margin-bottom: 20px !important;
}

h1 {
  font-size: large;
  color: var(--on-surface) !important;
}

p {
  color: var(--on-surface) !important;
}

h2 {
  font-size: larger;
  color: var(--on-surface) !important;
}

mat-card-header {
  min-height: 80px;
  height: 10% !important;
}

mat-card-title {
  height: 40%;
  min-width: 200px;
  color: var(--on-surface) !important;
}

mat-card-subtitle {
  height: 30%;
  color: var(--on-surface) !important;
}

mat-grid-tile {
  height: 70% !important;
  padding: 10% 0 !important;
}

mat-expansion-panel {
  background-color: var(--surface) !important;
  min-width: 200px;
  hyphens: auto;
}

#copy {
  width: 24px;
  height: 24px;
}

.copy {
  font-size: 40px;
  color: var(--secondary);
  line-height: 100%;
}

.gavel {
  margin: 0.9em 0.25em 0 0;
  color: var(--red);
}

::ng-deep .mat-badge-content {
  background: var(--secondary);
  color: var(--on-secondary);
}

.question-button-div {
  margin: 10% 0 10% 0;
}

markdown {
  color: var(--on-surface);
  margin: 0 3% 0 3% !important;
}

h3 {
  font-size: 14px;
}

.inline-icon-button {
  width: max-content;
  margin: 0.25em 0.25em 0.25em 0.75em;
}
