<p tabindex="0">
  Your questions and ratings are anonymous.
  Register only if you want to save visited or own rooms on our server.
</p>

<p tabindex="0">
  Registration is also advisable
  if you get a bonus for »good« questions and want to redeem it later.
</p>

<p tabindex="0">
  Without registration, you can only access your rooms in the browser
  where you have created or visited them.
  If you delete the browser data, your rooms will also be deleted.
</p>

<p tabindex="0">
  By clicking the »Accept« button, you agree to our privacy policy.
  You can view it by clicking the icon above.
</p>
