.pwReset {
  padding-left: 0;
  color: var(--secondary);
}

.regButton {
  color: var(--secondary);
}

.guest {
  background-color: var(--primary);
  color: var(--on-primary);
  margin-bottom: 10px;
}

.login {
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.forgot-password {
  margin-bottom: 1.6rem;
}

.forgot-password a {
  text-decoration: underline;
  color: var(--secondary);
  font-size: .9rem;
}

p {
  font-size: small;
  margin: 13px 10px 0 0;
  color: var(--on-surface);
  vertical-align: text-bottom;
}

::ng-deep .mat-form-field-label {
  color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-underline {
  background-color: var(--on-surface)!important;
}

::ng-deep .mat-form-field-ripple {
  background-color: var(--on-surface)!important;
}

mat-form-field {
  color: var(--on-surface);
}

input {
  caret-color: var(--on-surface);
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px var(--dialog) inset;
  -webkit-text-fill-color: var(--on-surface);
}
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px var(--dialog) inset;
  -webkit-text-fill-color: var(--on-surface);
}

h3 {
  margin: 0 0 10px 0!important;
}

.register {
  padding: .5rem 0;
  align-items: baseline;
}

.registerBtn{
  text-decoration:underline;
  color:var(--on-surface);
  cursor:pointer;
  font-size:small;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

#focus_button_user:focus {
  background: var(--on-surface);
  color: var(--background);
}

#focus_button_guest:focus {
  background: var(--on-surface);
  color: var(--background);
}

.or {
  height: 30px;
}

::ng-deep .mat-form-field .mat-form-field-infix {
  max-width: 500px;
}
