@use '@angular/material' as mat;
@import 'theme/light-theme/_variables.scss';
@import 'theme/dark-theme/dark-theme';
@import 'theme/blue-theme/blue-theme';
@import 'theme/purple-theme/purple-theme';

@import '~katex/dist/katex.min.css';
@import '~prismjs/plugins/line-numbers/prism-line-numbers.css';
@import '~prismjs/plugins/line-highlight/prism-line-highlight.css';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($arsnova-theme);

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: default;
}

.dark {
  @include mat.all-component-themes($dark-theme);
}

.blue {
  @include mat.all-component-themes($blue-theme);
}

.purple {
  @include mat.all-component-themes($purple-theme);
}

@import 'theme/light-theme/theme';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.modal {
  outline: none;
  border-color: transparent;
}

.placeholder {
  color: var(--on-surface);
  filter: opacity(0.6);
  font-style: italic;
}

.oldtypo {
  &-h2 {
    color: var(--on-surface) !important;
    font-size: 18px !important;
    hyphens: auto;
  }

  &-h3 {
    color: var(--on-surface) !important;
    font-size: 16px !important;
  }

  &-p {
    color: var(--on-surface);
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 1.5 !important;
    hyphens: auto;
  }
}

.oldtypo h4 {
  padding-top: 10%;
  font-size: 16px !important;
}

.oldtypo p, .oldtypo div {
  color: var(--on-surface);
  hyphens: auto;
}

address {
  font-style: normal;
}

.overflow_hide {
  height: 0px;
  overflow: hidden;
}

.testBox {
  width: 50%;
  height: 50%;
  position: fixed;
  left: 0px;
  top: 25%;
  z-index: 1000;
  background-color: var(--surface);
}

.filledDialog {
  width: calc(100% - 50px);
  min-width: calc(100% - 50px);
  max-width: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: 25px;
  padding: 0;
}

.screenDialog {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.imgWrp img {
  width: calc(100% - 35px);
  height: calc(100% - 35px);
  image-rendering: crisp-edges;
}

.mat-card, .mat-dialog-container {
  border-radius: 10px !important;
  hyphens: auto !important;
}

.mat-card {
  line-height: 1.5 !important;
  color: var(--on-surface) !important;
}

a.info {
  position: relative;
  z-index: 24;
  text-decoration: none;
}

a.info span {
  position: absolute;
  left: -9000px;
  width: 0;
  overflow: hidden;
}


a.info:hover span, a.info:focus span, a.info:active span {
  display: block;
  position: absolute;
  top: 1.3em;
  left: 0;
  width: max-content;
  background-color: var(--primary);
  color: var(--on-primary);
  text-align: left;
  padding: 5px;
}

.mat-simple-snackbar span {
  margin: auto;
  text-align: center;
}

:focus {
  outline: 1px solid var(--on-surface);
  outline-offset: 8px;
}

a {
  word-break: break-all;
}

.mat-row {
  height: 60px !important;
}

.mat-menu-item {
  outline: none !important;
}

.mat-dialog-container {
  max-width: 650px !important;
  margin: 0 auto;
  line-height: 1.5 !important;
}

.mat-menu-item .mat-icon-no-color {
  color: var(--on-dialog);
}

.star {
  color: var(--yellow) !important;
}

.faq {
  color: var(--on-dialog) !important;
}

.fullscreen {
  color: var(--on-dialog) !important;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: 1 !important;
}

.mat-checkbox .mat-checkbox-frame {
  border-color: var(--on-dialog);
  background-color: var(--dialog);
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  border-color: var(--on-primary);
  background-color: var(--primary);
}

.mat-form-field-label, .mat-hint {
  color: var(--on-dialog) !important;
}

.mat-tab-label-active, .mat-tab-label {
  color: var(--on-dialog) !important;
  background-color: var(--dialog) !important;
  opacity: 1.0 !important;
}

.mat-ink-bar {
  background-color: var(--primary) !important;
  height: 3px !important;
}

.mat-error {
  color: var(--red);
}

.mat-spinner circle {
  stroke: var(--on-background);
}
